body {
	 font-family: raleway !important;
	 font-size: 1.125rem;
	 background: #F5E9C6;
	 margin:0px;
}
p{
	font-family: raleway !important;
	font-size: 1.125rem;
	background: #F5E9C6;
}
.hr-left-side-menu {
	margin-left: 15%;
	margin-right: 15%; 
	margin-bottom: 30% auto; 
	margin-top: 10% auto; 
}

.top-logo{
	margin-top:-100px;
	padding-bottom:300px;
	background-color: #F5E9C6;
	background: url('../img/logo.png') no-repeat 50% 1%;
	background-size: 600px;*/
}


#wrapper{
	text-align:justify;
	padding: 40px;
	max-width:600px;
	margin:75px auto;
	top:0px;
	margin-bottom: 0px;
	margin-left: 30% auto;
	color: white;
    font-family: raleway !important;
	font-size: 1.125rem;
}

.left-side-menu{
	width: 15%;
	background-color: #F09557;
	position: absolute;
    bottom: 0;
    top: 0;
    text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-align: right; 
}

.left-side-menu ul {
	padding-left:0px;
    overflow: hidden;
    list-style-type: none;
}

.left-side-menu li  {
	cursor: pointer;
	margin-top:10px;
	display: block;
    color: white;
    text-align: right;
    padding: 30px 50px;
    text-decoration: none;
	transition: 0.5s;
	background-color: #F09557;
	text-align: right;
}

.left-side-menu li:hover{
    background-color: #045358;
	transition: 0.5s;
}

.left-side-menu li:active{
	background-color: #24d0bb;
	transition: 0.2s;
}

.user-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 10px;
  margin-right: 15px;
  border: 3px solid #045358;
}
.user-image: hover {
  border: 3px solid #1DACB6;
}
.login-input{
	background-color: #F5E9C6; 
	border: 2px solid #F09557;
	padding: 12px 180px 10px 10px;
    margin: 8px 0;	
	color:  #045358;
    font-family: raleway !important;
	font-size: 1.125rem;
	font-weight: 600;
    
}
input:focus {
	border: 3px solid #045358; 
	outline: none;  
	color:  #045358;
}
.login-button{
	background-color: #045358; 
	border: 2px solid #045358;
	padding: 12px 100px;
    margin: 8px 0%;	
    width: 392px;
    color: white;
    font-family: raleway !important;
	font-size: 1.125rem;
	font-weight: 600;
}
.error{
	color: red; 
	font-weight: bold;
	
}