@CHARSET "ISO-8859-1";
.user-block {
	color: #054358;
	font-size: 1.8rem;
	margin: 0 auto;
	margin-bottom: 10px;
  	padding-left:100px;
  	height: 100px;
}

.friend {
	padding-left: 20px;
	background-color: #1DACB6;
	font-size: 1.8rem;
	margin: 0 auto;
	margin-left:50px;
  	width: auto;
  	height: 100px;
}
.unsubscribe-button,.add-button {
    font-size: 20px;
    color: #F09557 ;
	text-align: right;
}
.friend-button{
	cursor: hand;
}